<%= provide(:title, 'Create A New Contest') %>
<br />
<div class="row">
	<div class="new-contest-container">
		<h1>Create a new contest</h1>
		<br />	
		<%= render 'contest_form' %>
	</div>
</div>