<% provide(:title, @contest.title) %>
<div class="contest-container">

      	<div class="contest-title">
        	<%= @contest.title %>
    	</div>
    	<div class="contest-descrition">
        	<%= @contest.description %>
    	</div>
    	<div class="contest-image">
    		<%= image_tag @contest.image.thumb('400x300').url if @contest.image_stored? %>
    	</div>

</div>