<%= provide(:title, 'Donate to ' + @contest.title) %>
<br />

asgfadsgdsfasdfsda
<div class="row">
	<div class="small-12 columns">
		<h1>Donate to: <%= @contest.title %></h1>
		<br />
		<%= render 'form' %>
		<%= link_to 'Cancel', :back %>
	</div>
</div>
<br />
<br />